listen              1935;
max_connections     1000;
daemon              off;
srs_log_tank        console;

vhost __defaultVhost__ {
    hls {
        enabled         on;
        hls_fragment    10;
        hls_window      60;
        hls_path        /opt/srs/objs/nginx/html;
        hls_m3u8_file   [app]/[stream].m3u8;
        hls_ts_file     [app]/[stream]-[seq].ts;
    }

    http_hooks {
        enabled         on;

        on_publish      {{ SRS_CALLBACK_URL }};
        on_unpublish    {{ SRS_CALLBACK_URL }};
    }
}